<template>
  <div class="modal">
    <div class="modal__header">
      <div class="modal__title">Cart</div>

      <div class="cart__summamry">
        <div class="cart__summary__texts">
          <div class="cart__summary__count">{{noOfItems}} items in Cart</div>
          <div class="cart__summary__price">&#8358;{{totalCost}}</div>
        </div>
        <div @click="checkout" class="btn btn-secondary">Proceed to checkout</div>
      </div>

      <img class="x" @click="closePopup" src="../assets/icons/times.svg" alt>
    </div>

    <div class="modal__content">
      <div v-for="item in cartData.data" :key="item._id" class="cart__item">
        <div class="cart__item__img">
          <img :src="getImgUrl(item.food.images[0])" alt="food">
        </div>
        <div class="cart__item__content">
          <div class="cart__item__content__data">
            <div class="cart__item__content__title">{{item.food.name}}</div>
            <div class="cart__item__content__id">{{item.food.category}}</div>
            <div @click="removeFromCart(item)" class="cart__item__content__cta btn">
              <img alt="cart" src="../assets/icons/times.svg"> Remove
            </div>
          </div>
          <div class="cart__item__content__price">
            <label class="cart__item__content--label">Price</label>
            <div class="cart__item__content--val">&#8358;{{item.unitPrice}}</div>
          </div>
          <div class="cart__item__content__qty">
            <label class="cart__item__content--label">Qty</label>
            <div class="cart__item__content--val">
              <input
                @change="updateCartQty(item, $event.target.value)"
                :value="item.qty"
                type="number"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Cart",
  mounted: function() {
    this.$store
      .dispatch("fetchCart")
      .then(res => {
        this.cartData = res.data;

        for (let i = 0; res.data.data.length > i; i++) {
          this.noOfItems += res.data.data[i].qty;
          this.totalCost += res.data.data[i].totalCost;
        }
      })
      .catch(err => console.log(err));
  },
  props: ["closePopup"],
  components: {},
  data() {
    return {
      cartData: null,
      noOfItems: 0,
      totalCost: 0
    };
  },
  methods: {
    getImgUrl: function(img) {
      return "http://foodmama.ng/uploads/foodimage/" + img;
    },
    updateCartQty(item, qty) {
      let cart = this.$store.getters.cart;
      if (cart.length > 0) {
        for (let i = 0; cart.length > i; i++) {
          if (cart[i].foodId === item.foodId) {
            let payload = {
              item: cart[i],
              qty,
              isCartInput: true
            };
            this.$store.dispatch("updateCart", payload);
            return;
          }
        }
      }
    },
    removeFromCart(item) {
      this.$store
        .dispatch("removeFromCart", item)
        .then(() => {
          this.$store
            .dispatch("fetchCart")
            .then(res => {
              this.cartData = res.data;
            })
            .catch(err => console.log(err));
        })
        .catch(err => console.log(err));
    },
    checkout() {
      let checkoutObj = {
        profileId: this.getUser._id,
        cartIds: [],
        amount: this.totalCost,
        paymentStatus: "Not Paid",
        deliveryAddress: this.getUser.address
      };

      for (let i = 0; this.cartData.data.length > i; i++) {
        checkoutObj.cartIds.push(this.cartData.data[i]._id);
      }

      this.$store
        .dispatch("checkout", checkoutObj)
        .then(() => {
          this.$store
            .dispatch("makePayment")
            .then(res => {
              //this.cartData = res.data;
              //close cart and show success alert
            })
            .catch(err => console.log(err));
        })
        .catch(err => console.log(err));
    }
  },
  computed: {
    getCart: function() {
      return this.$store.getters.cart;
    },
    getUser: function() {
      return this.$store.getters.getUser;
    }
  }
};
</script>

<style lang="scss" scoped>
.cart__item {
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 0.1rem solid #ddd;
  padding: 1rem 0;
}
.cart__item__img {
  width: 20rem;
  img {
    width: 100%;
  }
}
.cart__item__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0rem 4rem;
}
.cart__item__content__cta {
  border: 0.1rem solid #aaa;
  color: #aaa;
  text-align: center;
  font-size: 1rem;
  width: 10rem;
}
.btn {
  img {
    width: 1rem;
  }
}
.modal {
  max-width: 100rem;
}
.cart__item__content__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
}
.cart__item__content__id {
  color: #aaa;
  font-size: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
label.cart__item__content--label {
  color: #aaa;
  font-size: 1rem;
}
.cart__item__content--val {
  font-size: 1.8rem;
  color: #777;
}
input[type="number"] {
  padding: 0.5rem;
  width: 7rem;
  border-radius: 0.7rem;
  outline: 0;
  border: 0.1rem solid #aaa;
}
.cart__summamry {
  display: flex;
  align-items: center;
  border: 0.1rem solid #ddd;
  padding: 1rem;
  background: var(--bg-secondary-lite);
  -webkit-box-shadow: 8px 8px 20px #ddd;
  -moz-box-shadow: 8px 8px 20px #ddd;
  box-shadow: 8px 8px 20px #ddd;
}
.cart__summary__texts {
  margin-right: 2.5rem;
}
.cart__summary__count {
  font-size: 1.4rem;
  font-style: italic;
}
.cart__summary__price {
  font-size: 2rem;
  font-weight: bold;
  color: #ff2500;
}
</style>
