<template>
  <div class="sect">
    <div class="sect__title">
      <div class="sect__title-primary">we serve</div>
      <div class="sect__title-secondary">a variety of delicacies</div>
      <div
        class="sect__title-tetiary"
      >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, dolore hic? Odit nam ut nemo non officia odio hic necessitatibus nisi, minus provident delectus earum nobis libero, deserunt inventore magnam.</div>
    </div>

    <div class="cards">
      <FoodMenuItem v-for=" item in foodData.data" :item="item" :key="item._id"/>
    </div>
  </div>
</template>

<script>
import FoodMenuItem from "./FoodMenuItem.vue";
export default {
  name: "FoodMenuSection",
  mounted: function() {
    this.$store
      .dispatch("fetchFood")
      .then(res => {
        this.foodData = res.data;
        this.heroSlide();
      })
      .catch(err => console.log(err));
  },
  props: {
    msg: String
  },
  components: {
    FoodMenuItem
  },
  data() {
    return {
      mobileMenu: false,
      foodData: null
    };
  },
  methods: {
    toggleMobileMenu: function(toggle = false) {
      if (toggle) {
        this.mobileMenu = !this.mobileMenu;
      } else {
        this.mobileMenu = false;
      }
    }
  },
  computed: {}
};
</script>

<style lang="scss" scoped>
.sect {
  background: var(--bg-secondary-lite);
}
</style>
