<template>
  <div class="card">
    <div class="card__img">
      <img :src="getImgUrl(item.images[0])" alt="food">
    </div>
    <div class="card__body">
      <div class="card__body__topsect">
        <div class="card__title truncate--small">{{item.name}}</div>
        <div class="card__price">&#x20a6; {{item.price}}</div>
      </div>
      <div class="card__desc truncate--small">{{item.description}}</div>
      <div class="btns">
        <div @click="addToCart(item)" class="btn-secondary btn">
          <img alt="cart" src="../assets/icons/cart-black.svg"> add to cart
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "FoodMenuItem",
  mounted() {
    //this.$store.dispatch("fetchFood");
  },
  props: ["item"],
  components: {},
  data() {
    return {};
  },
  methods: {
    getImgUrl: function(img) {
      return "http://foodmama.ng/uploads/foodimage/" + img;
    },
    addToCart(item) {
      let res = {};
      let cart = this.$store.getters.cart;

      res.profileId = this.$store.state.user._id;
      res.foodId = item._id;
      res.qty = 1;
      res.unitPrice = item.price;
      res.totalCost = item.price * res.qty;

      if (cart.length > 0) {
        for (let i = 0; cart.length > i; i++) {
          if (cart[i].foodId === item._id) {
            let payload = {
              item: cart[i],
              isCartInput: false
            };
            this.$store.dispatch("updateCart", payload);
            return;
          }
        }

        this.$store
          .dispatch("addToCart", res)
          .then(() => {
            // this.closePopup();
            // this.$router.push("/");
          })
          .catch(err => console.log(err));
      } else {
        this.$store
          .dispatch("addToCart", res)
          .then(() => {
            // this.closePopup();
            // this.$router.push("/");
          })
          .catch(err => console.log(err));
      }
    }
  },
  computed: {}
};
</script>

<style lang="scss" scoped>
.btns {
  justify-content: flex-end;
}
.card__body__topsect .truncate--small {
  max-width: 250px;
  width: auto;
}
</style>
