<template>
  <div class="footer">copyright &copy; food mama 2019</div>
</template>

<script>
export default {
  name: "Footer",
  mounted() {},
  props: {},
  components: {},
  data() {
    return {};
  },
  methods: {},
  computed: {}
};
</script>

<style lang="scss" scoped>
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: #000;
  color: #fff;
  font-size: 1.4rem;
}
</style>
