<template :key="key">
  <transition name="slide-fade">
    <div class="hero-item">
      <div class="hero-item__img">
        <img :src="getImgUrl(item.images[0])" alt="food">
      </div>
      <div class="hero-item__body">
        <div class="hero-item__body__title truncate--small">{{item.name}}</div>
        <div class="hero-item__body__cat">{{item.category}}</div>
        <div class="hero-item__body__body truncate--small">{{item.description}}</div>
        <div class="hero-item__body__price">&#8358;{{item.price}}</div>
        <div class="hero-item__body__ctas">
          <div @click="addToCart(item)" class="hero-item__body__cta btn">
            <img alt="cart" src="../assets/icons/shopping-cart.svg"> Add to cart
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "HeroItem",
  props: ["item", "key"],
  components: {},
  data() {
    return {};
  },
  methods: {
    getImgUrl: function(img) {
      return "http://foodmama.ng/uploads/foodimage/" + img;
    },
    addToCart(item) {
      let res = {};
      let cart = this.$store.getters.cart;

      res.profileId = this.$store.state.user._id;
      res.foodId = item._id;
      res.qty = 1;
      res.unitPrice = item.price;
      res.totalCost = item.price * res.qty;

      if (cart.length > 0) {
        for (let i = 0; cart.length > i; i++) {
          if (cart[i].foodId === item._id) {
            let payload = {
              item: cart[i],
              isCartInput: false
            };
            this.$store.dispatch("updateCart", payload);
            return;
          }
        }

        this.$store
          .dispatch("addToCart", res)
          .then(() => {
            // this.closePopup();
            // this.$router.push("/");
          })
          .catch(err => console.log(err));
      } else {
        this.$store
          .dispatch("addToCart", res)
          .then(() => {
            // this.closePopup();
            // this.$router.push("/");
          })
          .catch(err => console.log(err));
      }
    }
  },
  computed: {}
};
</script>

<style lang="scss" scoped>
.hero-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 55rem;
  height: 25rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.2rem;
  -webkit-box-shadow: 0 8px 16px #000;
  -moz-box-shadow: 0 8px 16px #000;
  box-shadow: 0 8px 16px #000;
}
.hero-item__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  overflow: hidden;
  background: var(--primary-color-transparent);
  img {
    height: 100%;
  }
}
.hero-item__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  font-size: 2rem;
  width: 60%;
}
.hero-item__body__title {
  background: var(--secondary-color);
  padding: 0.5rem 1rem;
  color: #000;
  font-size: 2.5rem;
  width: 100%;
}
.hero-item__body__cat {
  width: 100%;
  text-align: right;
  font-style: italic;
  padding: 1rem;
}
.hero-item__body__body {
  font-size: 1.5rem;
  padding: 1rem;
}
.hero-item__body__price {
  padding: 1rem;
  color: var(--red);
}
.hero-item__body__ctas {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.hero-item__body__cta {
  margin-left: 2rem;
  border: 0.1rem solid var(--secondary-color);
  color: var(--secondary-color);
  text-align: center;
}
</style>
