<template>
  <div v-on:click="toggleMobileMenu(false)" class="hero-sect">
    <div class="hero-sect__overlay sect">
      <div class="app-bar-wrap">
        <div class="app-bar">
          <div class="app-bar__logo">
            <div class="app-bar__logo-bold">FOOD</div>
            <div class="app-bar__logo-lite">MAMA</div>
          </div>
          <div class="main-nav">
            <div class="main-nav__link">Home</div>
            <div class="main-nav__link">Food Menu</div>
            <div class="main-nav__link">Blog</div>
            <div class="main-nav__link">Career</div>
            <div class="main-nav__link">Contact</div>
          </div>
          <div class="app-bar__userlinks">
            <div
              @click="this.loginPopup"
              v-if="!isLoggedIn"
              class="btn-outline btn-outline-white btn"
            >
              <img alt="cart" src="../assets/icons/web-log-in.svg"> sign in
            </div>
            <div v-if="isLoggedIn" class="app-bar__userlinks__wrap">
              <div class="app-bar__user">{{getUser.firstName}} {{getUser.lastName}}</div>
              <div @click="this.cartPopup" class="app-bar__userlink">
                <img alt="cart" src="../assets/icons/cart-black.svg">
                <span v-if="getCart.length > 0" class="cart__count">{{getCart.length}}</span>
              </div>
              <div class="app-bar__userlink">
                <img alt="profile" src="../assets/icons/user-black.svg">
              </div>
              <div @click="logout" class="app-bar__userlink">
                <img alt="profile" src="../assets/icons/sign-out.svg">
              </div>
            </div>
          </div>
          <img
            alt="menu icon"
            v-on:click.stop="toggleMobileMenu(true)"
            class="mobile-menu"
            src="../assets/icons/menu.svg"
          >
        </div>
        <transition name="slide-fade">
          <div v-if="mobileMenu" class="mobile-nav">
            <div class="mobile-nav__link">Home</div>
            <div class="mobile-nav__link">Food Menu</div>
            <div class="mobile-nav__link">Blog</div>
            <div class="mobile-nav__link">Career</div>
            <div class="mobile-nav__link">Contact</div>
          </div>
        </transition>
      </div>
      <div class="hero-body">
        <HeroItem v-if="renderer" :item="renderer" :key="slideCount"/>
      </div>

      <!-- <div class="white">{{getFoods}}</div> -->
      <div class="hero-sect__ctas">
        <div @click="this.signupPopup" class="hero-sect__cta">
          <img alt="cart" src="../assets/icons/user-green.svg">
          personal account
        </div>
        <div @click="this.signupPopup" class="hero-sect__cta">
          <img alt="cart" src="../assets/icons/users-green.svg">
          enterprise account
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HeroItem from "./HeroItem.vue";
import { async } from "q";
export default {
  name: "HeroSection",
  props: ["loginPopup", "signupPopup", "cartPopup"],
  components: {
    HeroItem
  },
  data() {
    return {
      mobileMenu: false,
      renderer: null,
      slideCount: 0,
      foodData: null
    };
  },
  mounted: function() {
    this.$store
      .dispatch("fetchFood")
      .then(res => {
        this.foodData = res.data;
        this.heroSlide();
      })
      .catch(err => console.log(err));

    if (this.$store.getters.isLoggedIn) {
      this.$store
        .dispatch("fetchCart")
        .then(res => {
          this.$store
            .dispatch("addToCart", res.data)
            .then(() => {
              // this.closePopup();
              // this.$router.push("/");
            })
            .catch(err => console.log(err));
        })
        .catch(err => console.log(err));
    }
  },
  methods: {
    toggleMobileMenu: function(toggle = false) {
      if (toggle) {
        this.mobileMenu = !this.mobileMenu;
      } else {
        this.mobileMenu = false;
      }
    },
    heroSlide: function() {
      if (this.foodData) {
        let value = this.foodData.data[this.slideCount];
        this.slideCount++;
        if (this.slideCount == this.foodData.data.length) {
          this.slideCount = 0;
        }

        this.renderer = value;

        setInterval(() => {
          value = this.foodData.data[this.slideCount];
          this.slideCount++;
          if (this.slideCount == this.foodData.data.length) {
            this.slideCount = 0;
          }

          this.renderer = value;
        }, 10000);
      }
    },
    logout: function() {
      this.$store.dispatch("logout").then(() => {
        //this.$router.push("/login");
      });
    }
  },
  computed: {
    isLoggedIn: function() {
      return this.$store.getters.isLoggedIn;
    },
    getCart: function() {
      return this.$store.getters.cart;
    },
    getFoods: function() {
      return this.$store.getters.getFoods;
    },
    getUser: function() {
      return this.$store.getters.getUser;
    }
  }
};
</script>

<style lang="scss" scoped>
.hero-sect {
  background: url(../assets/bg.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero-sect__overlay {
  background: var(--bg-overlay);
  overflow: hidden;
  z-index: 2;
}
.app-bar-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}
.app-bar {
  width: 100%;
  border-bottom: 0.2rem solid #fff;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
}
.app-bar__logo {
  display: flex;
  font-size: 2rem;
}
.app-bar__logo-bold {
  font-weight: 900;
  color: var(--secondary-color);
}
.app-bar__logo-lite {
  font-weight: 400;
  color: #fff;
}
.app-bar__userlinks,
.app-bar__userlinks__wrap,
.app-bar__userlink {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-bar__userlinks .btn {
  margin-left: 2rem;
}
.app-bar__userlink {
  position: relative;
  margin-left: 2rem;
  img {
    width: 1.5rem;
    cursor: pointer;
  }
  span {
    position: absolute;
    top: -1.2rem;
    right: -1.3rem;
  }
}
.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-nav__link {
  padding: 1rem;
  cursor: pointer;
  margin: 0 1rem;
  font-size: 1.8rem;
  color: #000;
  border: 0.1rem solid transparent;
  &:hover {
    color: #fff;
  }
}
.app-bar__user {
  font-size: 1.4rem;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.mobile-nav {
  width: 100%;
  position: absolute;
  top: 3.6rem;
  display: none;
  background: var(--primary-color);
  -webkit-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}
.mobile-nav__link {
  cursor: pointer;
  padding: 1rem;
  font-size: 1.8rem;
  color: #fff;
  border-bottom: 0.1rem solid var(--primary-color-dark);
}
.mobile-menu {
  cursor: pointer;
  display: none;
}
.hero-body {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-sect__ctas {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8rem;
}
.hero-sect__cta {
  width: 80%;
  max-width: 40rem;
  margin: 5rem;
  border-radius: 2rem;
  cursor: pointer;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--secondary-color);
  color: var(--secondary-color);
  img {
    width: 5rem;
    padding-right: 2rem;
  }
}
.white {
  color: #fff;
  font-size: 4rem;
}

@media only screen and (max-width: 900px) {
  .hero-sect__overlay {
    padding: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .btn {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .main-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}
</style>
