<template>
  <div class="modal">
    <div class="modal__header">
      <div class="modal__title">Sign in</div>
      <img class="x" @click="closePopup" src="../assets/icons/times.svg" alt>
    </div>
    <form class="frm" @submit.prevent="login">
      <div class="frm__inputgroup">
        <label class="frm__label">Email</label>
        <input class="frm__input" required v-model="email" type="email">
      </div>
      <div class="frm__inputgroup">
        <label class="frm__label">Password</label>
        <input class="frm__input" required v-model="password" type="password">
      </div>
      <button class="btn btn-secondary" type="submit">Login</button>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: ""
    };
  },
  props: ["closePopup"],
  methods: {
    login: function() {
      let email = this.email;
      let password = this.password;
      this.$store
        .dispatch("login", { email, password })
        .then(() => {
          this.closePopup();
          this.$router.push("/");
        })
        .catch(err => console.log(err));
    }
  }
};
</script>