<template>
  <div class="modal">
    <div class="modal__header">
      <div class="modal__title">Sign Up</div>
      <img class="x" @click="closePopup" src="../assets/icons/times.svg" alt>
    </div>
    <form class="frm" @submit.prevent="register">
      <div class="frm__inputgroup">
        <label class="frm__label" for="firstName">First Name</label>
        <input class="frm__input" id="firstName" required v-model="firstName" type="text" autofocus>
      </div>

      <div class="frm__inputgroup">
        <label class="frm__label" for="lastName">Last Name</label>
        <input class="frm__input" id="lastName" required v-model="lastName" type="text" autofocus>
      </div>

      <div class="frm__inputgroup">
        <label class="frm__label" for="email">Email</label>
        <input class="frm__input" id="email" type="email" v-model="email" required>
      </div>

      <div class="frm__inputgroup">
        <label class="frm__label" for="mobileNo">Mobile Number</label>
        <input class="frm__input" id="mobileNo" type="number" v-model="mobileNo" required>
      </div>

      <div class="frm__inputgroup">
        <label class="frm__label" for="address">Address</label>
        <input class="frm__input" id="address" type="text" v-model="address" required>
      </div>

      <button class="btn btn-secondary" type="submit">Register</button>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      firstName: "",
      lastName: "",
      mobileNo: "",
      email: "",
      address: ""
    };
  },
  props: ["closePopup"],
  methods: {
    register: function() {
      let data = {
        firstName: this.firstName,
        lastName: this.lastName,
        mobileNo: this.mobileNo,
        email: this.email,
        address: this.address,
        password: "12345678"
      };
      this.$store
        .dispatch("register", data)
        .then(() => {
          this.closePopup();
          this.$router.push("/");
        })
        .catch(err => console.log(err));
    }
  }
};
</script>