<template>
  <div v-bind:class="[{'flex-reverse': reversed}, 'specials']">
    <div class="specials__lhs">
      <div class="specials__lhs__countsect">
        <div class="specials__lhs__countsect__count">01.</div>
        <div class="specials__lhs__countsect__liner"></div>
      </div>
      <div class="specials__lhs__contentsect">
        <div class="specials__lhs__contentsect__title--primary">Grilled</div>
        <div class="specials__lhs__contentsect__title--secondary">roasted chicken</div>
        <div
          class="specials__lhs__contentsect__desc"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum nesciunt rerum laboriosam fugiat nam. Accusamus quidem exercitationem, adipisci illo nisi amet quisquam, necessitatibus officiis molestiae doloremque tempore earum consequuntur voluptatibus!</div>
        <div class="specials__lhs__contentsect__price">&#x20a6; 1500</div>
        <div class="btns">
          <div class="btn-secondary btn">
            <img alt="cart" src="../assets/icons/cart-black.svg"> add to cart
          </div>
        </div>
      </div>
    </div>
    <div class="specials__rhs">
      <img src="../assets/img/food/turkey_food_PNG23.png" alt>
    </div>
  </div>
</template>

<script>
export default {
  name: "SpecialsItem",
  props: ["reversed"],
  components: {},
  data() {
    return {};
  },
  methods: {},
  computed: {}
};
</script>

<style lang="scss" scoped>
.specials {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 8rem;
}
.specials__lhs,
.specials__rhs {
  width: 100%;
  max-width: 50rem;
}
.specials__rhs {
  background: var(--bg-secondary-lite);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  -webkit-box-shadow: 6px 12px 20px #ddd;
  -moz-box-shadow: 6px 12px 20px #ddd;
  box-shadow: 6px 12px 20px #ddd;
  img {
    height: 100%;
  }
}
.specials__lhs__countsect {
  width: 100%;
  display: flex;
  align-items: center;
}
.specials__lhs__countsect__count {
  font-weight: bold;
  font-size: 4rem;
  padding-right: 2rem;
}
.specials__lhs__countsect__liner {
  width: 25rem;
  height: 0.1rem;
  background: #000;
}
.specials__lhs__contentsect {
  width: 100%;
  padding-left: 7.5rem;
}
.specials__lhs__contentsect__title--primary,
.specials__lhs__contentsect__price,
.specials__lhs__contentsect__title--secondary {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1;
}
.specials__lhs__contentsect__title--primary,
.specials__lhs__contentsect__price {
  color: var(--primary-color);
}
.specials__lhs__contentsect__desc {
  margin: 2rem 0;
  color: var(--grey-dark);
}
.btns {
  justify-content: flex-end;
}
</style>
