<template>
  <div class="sect">
    <div class="sect__title">
      <div class="sect__title2">
        Our
        <span class="sect__title2--highlight">special</span> dishes
      </div>
      <div
        class="sect__title2--tetiary"
      >Lorem ipsum dolor sit amet consectetur, adipisicing ecessitatibus nisi, minus provident delectus</div>
    </div>

    <SpecialsItem :reversed="false"/>
    <SpecialsItem :reversed="true"/>
    <SpecialsItem :reversed="false"/>
  </div>
</template>

<script>
import SpecialsItem from "./SpecialsItem.vue";
export default {
  name: "SpecialsSection",
  mounted() {},
  props: {},
  components: {
    SpecialsItem
  },
  data() {
    return {};
  },
  methods: {},
  computed: {}
};
</script>

<style lang="scss" scoped>
.sect {
  padding-top: 8rem;
}
.sect__title2--tetiary {
  margin-bottom: 10rem;
}
</style>
