<template>
  <div class="sect">
    <div class="x2-wrap">
      <div class="x2-item"></div>
      <div class="x2-item fix-sect center-sect">
        <div class="sect__title">
          <div class="sect__title-primary">welcome</div>
          <div class="sect__title-secondary">to Food Mama</div>
        </div>
        <div class="wlc-text section-text">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet exercitationem odit labore minus. Ratione optio autem dolorem enim voluptatum eos quisquam rerum dolor. Neque in minus dolore voluptas vitae soluta.</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet exercitationem odit labore minus. Ratione optio autem dolorem enim voluptatum eos quisquam rerum dolor. Neque in minus dolore voluptas vitae soluta.</p>
        </div>
        <div class="btns">
          <div class="btn-secondary btn">
            <img alt="cart" src="../assets/icons/food-black.svg"> place your order
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "WelcomeSection",
  mounted() {
    //this.$store.dispatch("fetchFood");
  },
  props: {
    msg: String
  },
  components: {},
  data() {
    return {
      mobileMenu: false
    };
  },
  methods: {},
  computed: {}
};
</script>

<style lang="scss" scoped>
.sect {
  background: url(../assets/img/food/turkey_food_PNG27.png) no-repeat center
    left fixed;
  -webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
}
.wlc-text p {
  margin-bottom: 1.5rem;
}
</style>
