<template>
  <div id="app">
    <HeroSection
      :loginPopup="this.loginPopup"
      :cartPopup="this.cartPopup"
      :signupPopup="this.signupPopup"
    />
    <WelcomeSection/>
    <FoodMenuSection/>
    <SpecialsSection/>
    <Footer/>

    <div v-if="login_popup" class="modal-overlay">
      <Login :closePopup="closePopup"/>
    </div>
    <div v-if="signup_popup" class="modal-overlay">
      <signup :closePopup="closePopup"/>
    </div>
    <div v-if="cart_popup" class="modal-overlay">
      <Cart :closePopup="closePopup"/>
    </div>
  </div>
</template>

<script>
// import { mapState } from "vuex";
// import { mapGetters } from "vuex";
// import { mapMutations } from "vuex";
import HeroSection from "./components/HeroSection.vue";
import FoodMenuSection from "./components/FoodMenuSection.vue";
import WelcomeSection from "./components/WelcomeSection.vue";
import Footer from "./components/Footer.vue";
import SpecialsSection from "./components/SpecialsSection.vue";
import Login from "./components/Login.vue";
import Signup from "./components/Signup.vue";
import Cart from "./components/Cart.vue";

export default {
  name: "app",
  data() {
    return {
      login_popup: false,
      signup_popup: false,
      cart_popup: false
    };
  },
  mounted: function() {},
  methods: {
    loginPopup: function() {
      this.login_popup = true;
    },
    signupPopup: function() {
      this.signup_popup = true;
    },
    cartPopup: function() {
      this.cart_popup = true;
    },
    closePopup: function() {
      this.login_popup = false;
      this.signup_popup = false;
      this.cart_popup = false;
    }
  },
  components: {
    HeroSection,
    FoodMenuSection,
    WelcomeSection,
    SpecialsSection,
    Footer,
    Login,
    Signup,
    Cart
  },
  created: function() {
    this.$http.interceptors.response.use(undefined, function(err) {
      return new Promise(function(resolve, reject) {
        if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
          this.$store.dispatch(logout);
        }
        throw err;
      });
    });
  }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Lato:400,900");

:root {
  --primary-color: #ffbb00;
  --primary-color-dark: #ebad00;
  --secondary-color: #c4ff00;
  --bg-secondary-lite: #faffeb;
  --bg-primary-lite: #fffaeb;
  --bg-overlay: rgb(0, 0, 0, 0.7);
  --primary-color-transparent: rgba(0, 0, 0, 0.3);
  --grey-dark: #777;
  --grey-black: #131230;
  --grey-lite-bg: #fafafa;
  --btn-blue: #0000ff;
  --red: #ff2500;
  // --bg-color: rgba(0, 0, 255, 0.323);
  // --bg-color-hex: #adadff;
  // --bg-color-lite: #e5e5ff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //100% of browser default font size = 16px
  //62.5% therefore = 10px (10/16)
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400; //700
  line-height: 1.7;
  //padding: 3rem;
  color: #000;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding: 0;
}

.btns {
  display: flex;
}
.btn {
  padding: 0.5rem 3rem;
  border-radius: 3rem;
  font-size: 1.4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: 0;
  img {
    width: 2rem;
    margin-right: 2rem;
  }
}
.btn-outline {
  background: transparent;
}
.btn-outline-white {
  color: #fff;
  border: 0.1rem solid #fff;
}
.btn-outline-secondary {
  color: var(--secondary-color);
  border: 0.1rem solid var(--secondary-color);
}
.btn-secondary {
  color: #000;
  background: var(--secondary-color);
}

.sect {
  padding: 4rem;
  width: 100%;
  min-height: 100vh;
  background: #fff;
}
.sect__title {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 2rem;
}
.sect__title-primary {
  font-style: italic;
  color: var(--primary-color);
}
.sect__title-secondary {
  color: var(--grey-black);
}
.sect__title-tetiary {
  font-weight: normal;
  font-size: 1.4rem;
  color: var(--grey-dark);
  margin: 2rem 0;
  line-height: 1.6;
  width: 80%;
  max-width: 50rem;
}
.sect__title2 {
  width: 100%;
  color: var(--grey-black);
  text-align: center;
}
.sect__title2--highlight {
  color: var(--primary-color);
}
.sect__title2--tetiary {
  font-weight: normal;
  font-size: 1.4rem;
  color: var(--grey-dark);
  line-height: 1.6;
  font-style: italic;
  width: 100%;
  text-align: center;
  margin-top: 0.2rem;
}
.center-sect {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fix-sect {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}
.section-text {
  font-size: 1.4rem;
  color: var(--grey-dark);
}
.x2-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.x2-item {
  width: 50%;
  height: 90vh;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 35rem;
  height: 38rem;
  background: #fff;
  border: 0.1rem solid #bbb;
  margin-top: 4rem;
  margin-right: 2rem;
}
.card:hover {
  -webkit-box-shadow: 8px 8px 20px #ddd;
  -moz-box-shadow: 8px 8px 20px #ddd;
  box-shadow: 8px 8px 20px #ddd;

  .card__body {
    background: var(--secondary-color);
  }
  .btn {
    border: 0.1rem solid #000;
  }
  .card__price {
    color: #fff;
  }
  .card__desc {
    color: #000;
  }
}
.card__img {
  width: 100%;
  height: 55%;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.card__body {
  width: 100%;
  height: 45%;
  padding: 1rem;
  color: var(--grey-dark);
}
.card__body__topsect {
  color: var(--grey-black);
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.card__price {
  color: var(--primary-color);
}
.card__desc {
  margin-bottom: 2rem;
}
.flex-reverse {
  flex-direction: row-reverse;
}
.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-overlay);
  z-index: 5;
}
.modal {
  width: 100%;
  max-width: 50rem;
  background: #fff;
  padding: 2rem;
  border-radius: 0.4rem;
}
.modal__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.modal__title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  border-bottom: 0.4rem solid var(--primary-color);
  padding: 0.2rem 2rem;
}
.modal__content {
  max-height: 80vh;
  overflow-y: auto;
}
.x {
  cursor: pointer;
}
.frm__inputgroup {
  width: 100%;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  label {
    display: block;
  }
  input {
    width: 100%;
    padding: 0.4rem;
  }
}
.truncate--small {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slide-fade-enter-active {
  transition: all 5s ease;
}
.slide-fade-leave-active {
  opacity: 0;
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(400px);
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
</style>

